<p>
  <mat-toolbar color="primary">
    <span>Appetiser Coding Challenge</span>
  </mat-toolbar>
</p>

<div class="flex flex-row p-5">
  <div class="max-w-lg w-full mr-5 border-r pr-5">
    <form [formGroup]="eventForm" (ngSubmit)="submit(eventForm)" class="flex flex-col" autocomplete="off">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Event</mat-label>
        <input formControlName="event_name" matInput placeholder="Enter event name here...">
        <mat-error *ngIf="eventForm.hasError('required', 'event_name')">This field is required.</mat-error>
      </mat-form-field>
    
      <div class="flex flex-row -mx-2">
        <div class="mx-2">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>From</mat-label>
            <input formControlName="date_from" matInput [matDatepicker]="from" (focus)="from.open()" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
            <mat-error *ngIf="eventForm.hasError('required', 'date_from')">Please choose a date.</mat-error>
          </mat-form-field>
        </div>

        <div class="mx-2">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>To</mat-label>
            <input formControlName="date_to" matInput [matDatepicker]="to" (focus)="to.open()" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
            <mat-error *ngIf="eventForm.hasError('required', 'date_to')">Please choose a date.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="flex flex-row -mx-2">
        <ng-container *ngFor="let day of eventForm.get('days')['controls']; let i=index">
          <mat-checkbox [formControl]="day" color="primary" class="mx-2">
            {{ daysName[i] }}
          </mat-checkbox>
        </ng-container>
      </div>
      
      <div class="mt-5">
        <ng-container *ngIf="isLoading">
          <mat-spinner [diameter]="30"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!isLoading">
          <button mat-raised-button color="primary">Save</button>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="flex-grow">
    <full-calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
  </div>
</div>